@import '../../../styles/variables.scss';

.input {
  border-radius: 0px;
  width: 100%;
  box-shadow: none;

  div {
    border-radius: 0px !important;
    fieldset {
      outline: none;
    }
  }
}
