@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.navbar {
  width: 100vw;
  height: auto;
  box-shadow: $nav-box-shadow;
  .navItems {
    @include same-all-width($global-screen-width);
    margin: auto;
    @include flex-style(space-between, false);

    .logo_location_section {
      position: relative;
      .logo_container {
        width: 30%;
        cursor: pointer;
        img {
          @include restrict-text-select;
          pointer-events: none;
        }
      }
      .geoLocation_container {
        position: absolute;
        cursor: pointer;
        color: $text-primary;
        top: 40%;
        left: 105%;
        width: 250px;
        @include restrict-text-select;
      }
    }
    .nav_links {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      ul {
        @include flex-style(space-around, center);
        width: 100%;
        margin: 0;
        height: 100%;
        color: $color-secondary;

        li {
          position: relative;
          color: inherit;
          list-style: none;
          font-weight: 500;
          font-size: $nav-link-font-size;
          min-width: 110px;
          cursor: pointer;
          padding: 8px 15px;
          @include flex-style(space-evenly, center);
          @include restrict-text-select;
          height: 100%;
          transition: all 0.1s ease-in-out;
          &:hover {
            color: $color-primary;
          }
          &:focus {
            color: $color-primary;
          }
          .underline {
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background: $color-primary;
          }
        }
      }
    }
  }
}
