@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$login-signup-drawer-padding: 30px;

.signUp,
.Login {
  padding: $login-signup-drawer-padding;
  padding-top: 15px;
  position: relative;
  min-width: 500px;
  .signUp_header,
  .login_header {
    padding: 10px;
    @include flex-style(flex-start, center);
  }
  .close_drawer_icon {
    position: absolute;
  }
  .formBody {
    width: 80%;
    margin-top: 50px;
    .helperText1 {
      margin-top: 15px;
    }
    .title {
      margin-bottom: 5px;
    }
    .helperText {
      margin-bottom: 30px;
    }
    .login_page_link_text {
      color: $color-primary;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .terms_and_condition_link_text1 {
      @extend .login_page_link_text;
      color: $color-dark;
    }
    .form {
      @include flex-style(space-around, center);
      flex-direction: column;
      height: 150px;
    }
    .signUpForm {
      height: auto;
      .signUp_inputs {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        .error_icon {
          cursor: pointer;
          position: absolute;
          right: -10%;
          top: 20%;
          color: $color-danger;
        }
      }
    }
  }
}

.signUp,
.Login {
  .close_drawer_icon {
    left: 20px;
    top: 5%;
    cursor: pointer;
  }
}
.signUp {
  .close_drawer_icon {
    top: 4%;
    cursor: pointer;
  }
}
