@mixin flex-style($justifyContent, $alignItem) {
  display: flex;

  @if $justifyContent {
    justify-content: $justifyContent;
  }
  @if $alignItem {
    align-items: $alignItem;
  }
}

@mixin restrict-text-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin same-all-width($width) {
  width: $width;
  max-width: $width;
  min-width: $width;
}

@mixin text($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: $text-light;
}
